<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <novaposhta>
                <active>1</active>
                <name>novaposhta</name>
                <title>Нова Пошта</title>
                <model>Dorn\Novaposhta\Model\Carrier</model>
            </novaposhta>
        </carriers>
    </default>
</config>
